@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Applygin the global-css using the @layer directive in Tailwind */
/* @layer components is used to define custom reusable styles that behave like Tailwind components */
@layer base{
    html{
        font-family: "Poppins", "sans-serif";
    }

    body{
        /* background-color: #fdfeff; */
        background: linear-gradient(to bottom, #e9d5ff, #000000);
        min-height: 100vh; 
        overflow: hidden;
    }
    /* body {
        
        background: linear-gradient(to bottom, #e9d5ff, #000000);
        background-attachment: fixed; 
        background-size: cover; 
        background-repeat: no-repeat; 
        min-height: 100vh;
        overflow: hidden; 
        margin: 0;
    } */
    
}

@layer components{
    .input-box{
        @apply w-full text-sm  border-[1.5px] py-2 rounded mb-4 outline-none border-gray-600 p-2;
    }
    .btn-primary{
        @apply w-full text-sm bg-gray-800 text-white p-2 rounded my-1 hover:bg-slate-900;
    }
    .icon-btn{
        @apply text-xl text-slate-500 cursor-pointer hover:text-gray-800;
    }
    .input-label{
        @apply text-xs text-slate-800
    }

}